<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <h2>
            <title> PAWSY</title>
        </h2>
        {% load static %}
        <link rel="stylesheet" type="text/css" href= {% static 'docsiteapp\static\style.css' %}>
        <link rel="stylesheet" href="C:\Users\benza\Downloads\bootstrap-5.2.0-beta1-dist\css\bootstrap.min.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet" href="C:\Users\benza\OneDrive\Desktop\project\docsite\font.css">
        <link rel="stylesheet" href="C:\Users\benza\Downloads\bootstrap-5.2.0-beta1-dist\css\bootstrap.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css" integrity="sha384-WJUUqfoMmnfkBLne5uxXj+na/c7sesSJ32gI7GfCk4zO4GthUKhSEGyvQ839BC51" crossorigin="anonymous">
        <script src=C:\Users\benza\node_modules\jquery></script>
        <link rel="img" href="C:\Users\benza\OneDrive\Desktop\project\docsite\docsiteapp\static\img\logo.jpg">
        <script src="C:\Users\benza\Downloads\bootstrap-5.2.0-beta1-dist\js\bootstrap.min.js"></script>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="naviagtion" style="width: 100%;">
            <nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%;margin: 0;">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#" style="color:#00858e; font-style: normal; font-size: medium;"><img src="{% static 'docsiteapp\static\img\logooff2.png' %}" alt='img' style="width:50px; height: 50px;"></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav" style="margin-left: 69%;">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Tips</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Sign up</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Services
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
               
        </nav>
        

    </body>

</html>

