<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8"/>
        <h2>
            <title> Firstproject</title>
        </h2>
        {% load static %}
        <link rel="stylesheet" type="text/css" href= {% static 'C:\Users\benza\OneDrive\Desktop\project\docsite\static\style.css' %}>
        <script src="C:\Users\benza\OneDrive\Desktop\project\docsite\docsiteapp\jquery.min.js"></script>
        <link rel="stylesheet" href="C:\Users\benza\Downloads\bootstrap-5.2.0-beta1-dist\css\bootstrap.min.css">
        

    </head>  
    <body>
       <!--image slider start-->
       <div class="slider i ">
        <div class="slides">
        <!--radio buttons start-->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
        <!--radio buttons end-->
        <!--slide image start-->
        <div class="slide first">
            <img src="C:\Users\benza\OneDrive\Desktop\project\docsite\docsiteapp\static\1.jpg" alt="">
        </div>
        <div class="slide ">
            <img src="C:\Users\benza\OneDrive\Desktop\project\docsite\docsiteapp\static\2.jpg" alt="">
        </div>
        <div class="slide ">
            <img src="C:\Users\benza\OneDrive\Desktop\project\docsite\docsiteapp\static\3.jpg" alt="">
        </div>
        <!--slide image end-->
        <!--automagtic navigation start-->
        <div class ="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
        </div>
        <!--manual navigation start-->
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>

            <!--manual navigation end-->
        </div>


        



        </div>
       </div>
       <!--image slider end-->


    </body>
    

</html>

